
body.home {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background-size: 1000% 900%;
    animation: gradientMove 10s ease infinite;
	background: url('https://i.pinimg.com/736x/a1/b1/5d/a1b15d39b54e6763ff767b9bc4632948.jpg') no-repeat center center fixed,
                linear-gradient(-45deg, #3e2723, #5d4037, #6d4c41, #4e342e);
}

@keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    background: linear-gradient(-45deg, #3e2723, #5d4037, #6d4c41, #4e342e);
    background-size: 400% 400%;
    animation: gradientMove 10s ease infinite;
}

header {
    padding: 20px;
    background: rgba(0,0,0,0.6);
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #ffcc80;
    color: #3e2723;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    margin: auto;
}

.tagline {
    font-style: italic;
}


nav {
    background: #2e1a14;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #ffcc80;
    border-bottom: 2px solid #ffcc80;
}


section {
    padding: 40px 20px;
}



.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.card {
    padding: 20px;
    margin: 15px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    color: white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}


.card img {
    width: 100%;
    border-radius: 10px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}


.card:hover {
    transform: scale(1.05);
}


.card-matcha { background: rgba(0, 128, 0, 0.6); }       
.card-latte { background: rgba(210, 180, 140, 0.7); }    
.card-icedcoffee { background: rgba(30, 144, 255, 0.6); } 
.card-mocha { background: rgba(123, 63, 0, 0.7); }        

input, textarea {
    width: 70%;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #ffcc80;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ffa726;
}


footer {
    background: #1b0f0a;
    padding: 15px;
    font-size: 14px;
}
