body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

 
header {
    background: #2c3e50;
    padding: 15px;
    text-align: center;
}

header h1 {
    color: white;
    margin: 0;
}

header p {
    color: #ddd;
    font-style: italic;
}

 Navigation Menu 
nav {
    margin-top: 10px;
}

nav a:link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:visited {
    color: #bdc3c7;
}

nav a:hover {
    color: #f39c12;
    text-decoration: underline;
}

nav a:active {
    color: #e74c3c;
}

 .align  {
	 text-align: center;
 }
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
}


.post {
    margin-bottom: 30px;
}

.post img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-top: 10px;
}

.date {
    color: #e67e22;
    font-weight: bold;
}

 
.gallery {
    display: flex;
    gap: 20px;
}

.gallery img {
    width: 200px;
    border: 3px solid #ccc;
    transition: transform 0.3s, border-color 0.3s;
}

.gallery img:hover {
    transform: scale(1.1);
    border-color: #3498db;
}

 About Page 
.profile-img {
    width: 200px;
    border-radius: 10px;
} 
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}