
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://300mind.studio/blog/wp-content/uploads/2025/06/video-game-background-design.webp"); /* Replace with your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}


header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    text-align: center;
}


nav {
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    text-align: center;
}

nav a:link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:visited {
    color: #ddd;
}

nav a:hover {
    color: yellow;
    text-decoration: underline;
}

nav a:active {
    color: orange;
}


.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 900px;
}

.post {
    margin-bottom: 20px;
}

.post img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-top: 10px;
    border-radius: 10px;
}


.gallery img {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}





span {
    color: #e91e63;
    font-weight: bold;
}


footer {
    background-color: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 10px;
}

